<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Document
    </title>
    {{--    --}}
  </head>
  <body class="bg-black text-white flex justify-center">
    {{--  navigations et profil
    <nav class="space-y-8 p-4 w-[15%] ">
       <a href="#">
        <div class="sticky top-0 z-50 shadow-md ">
          <div >
            <img src="{{ asset('images/Twitter.svg') }}" class="p-4" alt="Home" />
          </div>
    
          <div class="space-y-6">
    
            <div class="flex justify between gap-2">
              <img src="{{ asset('images/Home-Fill.svg') }}" class="gap-2" alt="Home" />
              <a class="hover:text-blue-400" href="id-home">Home</a>
            </div>
    
            <div class="flex justify between  gap-2">
              <img src="{{ asset('images/Notifications-Fill.svg') }}" class="gap-2" alt="Home" />
              <a class="hover:text-blue-400" href="id-notification">Notification</a>
            </div>
    
            <div class="flex justify between  gap-2">
              <img src="{{ asset('images/Messages-Fill.svg') }}" class="gap-2" alt="Home" />
              <a class="hover:text-blue-400" href="id-message">Messages</a>
            </div>
    
            <div class="flex justify between  gap-2">
              <img src="{{ asset('images/Bookmarks-Fill.svg') }}" class="gap-2" alt="Home" />
              <a class="hover:text-blue-400" href="id-bookmarks ">Bookmarks </a>
            </div>
    
            <div class="flex justify between  gap-2">
              <img src="/public/images/Lists-Fill.svg" class="" alt="Home" />
              <a class="hover:text-blue-400" href="id-lists">Lists</a>
            </div>
    
            <div class="flex justify between gap-2">
              <img src="{{ asset('images/Profile-Fill.svg') }}" class="" alt="Home" />
              <a class="hover:text-blue-400" href="id-profile">Profile</a>
            </div>
    
            <div class="flex justify between gap-2">
              <img src="{{ asset('images/More.svg') }}" class="" alt="Home" />
              <a class="hover:text-blue-400" href="id-more">More</a>
            </div>
       </a>
          <div>
            <button class="bg-blue-500 px-8 py-2 hover:text-blue-900 rounded-full active:scale-95 transition transform duration-150 ease-in-out">
              tweet
               </button>
          </div>
        </div>
      </div>
    
      <!-- Bloc image + nom utilisateur -->
      <div class="mt-140">
        <div class="bg-black text-white flex items-center justify-between p-4 rounded-full my-12">
          
          <a href="#">
            <div class="flex items-center gap-3">
    {{--  rendre le profil en lien  --}}
    {{--  <div class="flex flex-col leading-tight">
                <div class="flex items-center gap-1">
                  <img src="/images/Profile-Photo.png" alt="Photo de profil" class="w-8 h-8 rounded-full">
                  <p class="font-semibold text-sm">Bradley Ortiz</p>
                  <img src="/public/images/Private.svg" alt="Icône privée" class="w-4 h-4" />
                </div>
                <p class="text-gray-400 text-sm">@bradley_</p>
              </div>
            </div>
    
          </a>
          <!-- Menu 3 points -->
          <svg class="w-6 h-6 text-gray-400 hover:text-white cursor-pointer" fill="currentColor" viewBox="0 0 24 24">
            <circle cx="5" cy="12" r="2" />
            <circle cx="12" cy="12" r="2" />
            <circle cx="19" cy="12" r="2" />
          </svg>
        </div>
      </div>
    </nav>  --}}

    {{--  ?