
@layout.app({ title: "Welcome page title" })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS" />
  @endslot
  
  @slot('main')
    <main class="border-x w-[30%]">
      <div class="">

      </div>
    </main>
  @endslot
@end






